.search-bar {
    min-width: 50%;
}

.btn-send {
    width: 100px;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .search-bar {
        min-width: 55%;
    }
}

@media (max-width: 768px) {
    .search-bar {
        min-width: 65%;
    }
}

@media (max-width: 480px) {
    .search-bar {
        min-width: 80%;
    }
}
